body{
    background-color: black;
}

img{
    width: 50%;
   border: 5px solid blanchedalmond;
   
}
h1{
    font-size: 3rems;
}
#motivation{
  
   
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    margin-left: 5%;
    margin-top: 100px;
    text-align: center;
   
}
  
  